<h2>{{ setInfo.title | content }}</h2>
<p ng-bind-html="setInfo.description | content"></p>

<div class="row text-center">
    <div class="col-md-5">
        <div class="row thumbnails-row" ng-repeat="row in photos">
            <div class="col-md-4" ng-repeat="photo in row">
                <div class="thumbnail" ng-click="setSelected(photo)" ng-class="{active: isSelected(photo)}">
                    <img ng-src="{{ photo | photoThumbnail }}" alt="{{ photo.title }}" width="150" height="150" spinner>
                </div>
            </div>
        </div>
        <label for="page-selector">Page:</label>
        <select id="page-selector" ng-model="page" ng-options="p for p in pages"></select>
    </div>
    <figure class="col-md-7">
        <img ng-src="{{ selectedPhoto | photoLarge }}"
             alt="{{ selectedPhoto.title }}"
             class="img-thumbnail"
             spinner>

        <figcaption>{{ selectedPhoto.title }}</figcaption>
    </figure>
</div>