<p ng-hide="photos">Loading...</p>

<h2>{{ setInfo.title | content }}</h2>
<p ng-bind-html="setInfo.description | content"></p>

<div ng-show="photos" class="row text-center">
    <div class="col-md-5">
        <div class="row thumbnails-row" ng-repeat="row in photos">
            <div class="col-md-4" ng-repeat="photo in row">
                <a href="" class="thumbnail" ng-click="setSelectedPhoto(photo)" ng-class="{active: photoIsSelected(photo)}">
                    <img width="150" height="150" ng-src="{{ photo | photoThumbnail }}" alt="{{ photo.title }}" spinner>
                </a>
            </div>
        </div>

        <div class="row" ng-show="showNavigation()">
            <div class="col-md-4 text-right">
                <button type="button" class="btn btn-default" ng-click="prevPage()" ng-hide="pageIsFirst()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Prev
                </button>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-model="page" ng-options="p for p in pagesRange"></select>
            </div>
            <div class="col-md-4 text-left">
                <button type="button" class="btn btn-default" ng-click="nextPage()" ng-hide="pageIsLast()">
                    Next <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
    </div>
    <figure class="col-md-7">
        <img ng-src="{{ selectedPhoto | photoLarge }}"
             alt="{{ selectedPhoto.title }}"
             class="img-thumbnail"
             spinner>

        <figcaption>{{ selectedPhoto.title }}</figcaption>
    </figure>
</div>